button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.25em;
    &.login {
        background-color: $groupomaniaColor;
        margin: 10px 0;
        width: 240px;
        height: 38px;
        line-height: 0px;
        &:hover {
            background-color: darken($groupomaniaColor, 10%);
        }
    }
    &.accountCreate, &.signup {
        background-color: $blueColor;
        width: 200px;
        &:hover {
            background-color: darken($blueColor, 10%);
        }
    }
    &.accountCreate {
        margin-top: 30px;
        height: 70px;
    }
    &.signup {
        margin-top: 10px;
        height: 50px;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &.changePicture {
        position: relative;
        bottom: 50px;
    }
    &.exitCross {
        align-self: flex-end;
        padding: 0;
        color: black;
        & + input {
            margin-top: 0;
        }
    }
    &.invisibleButton {
        background-color: rgba(0, 0, 0, 0);
    }
    &.publicationBarButton {
        background-color: $fondChampEcriture;
        color: $text;
        font-size: 0.8em;
        width: 100%;
        text-align: left;
        font-weight: normal;
    }
    &.publicationOptions {
        color: $socials;
        justify-self: flex-end;
        margin-left: auto;
    }
    &.backToThreadButton {
        color: $text;
    }
    &.publishButton {
        color: $textDesactive;
        background-color: $desactive;
        justify-self: flex-end;
        margin-left: auto;
        width: 90px;
        margin-right: 10px;
        font-size: 1em;
    }
    &.mediaButton {
        border-radius: 0px;
    }
    &.updateButton {
        color: $textDesactive;
        background-color: $desactive;
        width: 90%;
        align-self: center;
        margin: 10px 30px;
    }
    &.commentBarButton {
        background-color: $fondChampEcriture;
        color: $textPlaceHolder;
        font-size: 0.8em;
        width: 100%;
        text-align: left;
        font-weight: normal;
    }
}
