.header {
    position: sticky;
    display: flex;
    flex-direction: column;
    z-index: 50;
    top: 0;
    //align-items: flex-start;
    border-bottom: 2px solid $strokeChamps;
    background-color: $fondEcran;
    .buttonsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .mainThreadButton, .logOutButton, .profilButton {
            max-width: 70px;
            color: $fondPanneaux;
            animation-name: hoverOutHeader;
            animation-duration: 200ms;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
            &:hover {
                animation-name: hoverInHeader;
                animation-duration: 200ms;
                animation-fill-mode: both;
                animation-timing-function: ease-in-out;
            }
            &.active {
                color: $socials;
                animation: none;
            }
        }
    }
}