#app {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    width: 100%;
    max-width: auto;
}
body {
  background-color: #DCE2E6;
  display: flex;
  justify-content: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: #360900;
  &:hover {
      text-decoration: underline;
  }
}

@media screen and (min-width: 680px) {
  #app {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  #app {
    max-width: 50%;
  }
}