$groupomaniaColor: #FD2D01;
$blueColor: #1960FC;
$fondChampEcriture: #FFE8E0;
$desactive: #D0D0D0;
$fondEcran: #DCE2E5;
$fondPanneaux: #9BBBCC;
$text: #240000;
$strokeChamps: #7A7A7A;
$fondPanneaux2: #E1E7EA;
$textPlaceHolder: #646464;
$socials: #FF6937;
$textDesactive: #626F8B;
$miniMenu: #DCDEE1;